<div id="wrapper">
    <ng-container *ngFor="let row of chessboard; index as i">
        <div class="board-row">
            <ng-container *ngFor="let cell of row; index as j">
                <div 
                [ngStyle]="{'background': (i + j) % 2 ? 'SaddleBrown' : 'wheat'}" 
                (click)="clickCell(cell)" 
                class="board-cell"
                >
                    <p *ngIf="cell">{{cell.name}}</p>
            </div>
            </ng-container>
        </div>
    </ng-container>
</div>