<div id="wrapper">
    <ng-container *ngFor="let row of chessboard; index as y">
        <div class="board-row">
            <ng-container *ngFor="let cell of row; index as x">
                <div
                [ngClass]="cell && (cell.choised)? 'choised':'' "
                [ngStyle]="{'background': (x + y) % 2 ? 'SaddleBrown' : 'wheat'}"
                class="board-cell"
                >
                    <img *ngIf="cell" class="my_img" (click)="clickOnFigure(cell)" [src]="cell.image_src">
            </div>
            </ng-container>
        </div>
    </ng-container>
</div>
