#wrapper {
    margin: auto;
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction:column;
}

.board-row {
    background-color: rgba(245, 222, 179, 0.027);
    display: flex;
    flex-direction: row;
    flex: 1;
}

.board-cell {
    border: 1px solid;
    flex: 1;
}

.my_img {
    width: 85%;
    height: 85%;
    display: block;
    margin: auto;
    padding-top: 5%;
}

.choised {
    outline:3px dashed rgba(255, 0, 0, 0.827);
    outline-offset:-10px;
}

.possible {
    outline:3px dashed rgba(0, 180, 212, 0.827);
    outline-offset:-10px;
    height: 80px;
    width: 80px;
}
