<div id="wrapper">
    <ng-container *ngFor="let row of chessboard; index as y">
        <div class="board-row">
            <ng-container *ngFor="let cell of row; index as x">
                <div
                [ngClass]="{'choised': selectedFigure && (selectedFigure === cell)}"
                [ngStyle]="{'background': (x + y) % 2 ? 'SaddleBrown' : 'wheat'}"
                class="board-cell"
                (click)="clickOnFigure(cell, {x,y})"
                >
                    <img *ngIf="cell" class="my_img"  [src]="cell.image_src">
            </div>
            </ng-container>
        </div>
    </ng-container>
</div>
